# base valiables
root_dir:
root_urlpath: ${ROOT_URLPATH}
template_code: ${TEMPLATE_CODE}

# routing
admin_route: ${ADMIN_ROUTE}
user_data_route: ${USER_DATA_ROUTE}

# public directory
public_path: /html
public_path_realdir:

# realdir::image
image_save_realdir: /upload/save_image
image_temp_realdir: /upload/temp_image

# realdir::user_data
user_data_realdir: /user_data

# realdir::block
block_default_realdir: /Eccube/Resource/template/default/Block
block_realdir: /template/${TEMPLATE_CODE}/Block

# realdir::template
template_default_realdir: /Eccube/Resource/template/default
template_default_html_realdir: /template/default
template_admin_realdir: /Eccube/Resource/template/admin
template_admin_html_realdir: /template/admin
template_realdir: /template/${TEMPLATE_CODE}
template_html_realdir: /template/${TEMPLATE_CODE}
template_temp_realdir: /cache/eccube/template

# realdir::csv
csv_temp_realdir: /cache/eccube/csv

# realdir:plugin
plugin_realdir: /Plugin
plugin_temp_realdir: /cache/plugin
plugin_html_realdir: /plugin

# urlpath
admin_urlpath: ${ROOT_URLPATH}/template/admin
front_urlpath: ${ROOT_URLPATH}/template/${TEMPLATE_CODE}
image_save_urlpath: ${ROOT_URLPATH}/upload/save_image
image_temp_urlpath: ${ROOT_URLPATH}/upload/temp_image
user_data_urlpath: ${ROOT_URLPATH}/user_data
plugin_urlpath: ${ROOT_URLPATH}/plugin